body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: black;


}

/* Trial and error on developer tools for proper understanding of what needs to be done. */

hr {
    background-color: white;
    border-style: dotted none none;
    border-color: #D3D3D3;
    border-width: 6px;
    height: 0px;
    width: 4%;
    padding: 30px 0;
}

h1 {
    margin: 50px auto 0 auto;
    /* width: 50%;*/
    /*the text is no more centre aligned as the block width is halved*/
    /*margin: 0 auto 0 auto;*/
    /*this centre aligns the block*/
    color: #45b29a;
    font-family: 'Sacramento', cursive;
    font-size: 5.5rem;
    /*16px = 100% = 1em* = 1rem */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #45b29a;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #45b29a;
}

p {
    line-height: 2;
    ;
}

a {
    color: #165c4f;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 13.5px;
    text-decoration: none;
}

a:hover {
    color: white;
}

.intro {
    width: 40%;
    margin: 20px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chillies-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: white;
    font-size: 0.85rem;
    padding: 20px 0 0
}

.inspiration {
    color: white;
    font-size: 0.85rem;
    padding: 0 0 20px;

}

.top-container {
    background-color: #e0ebe8;
    padding-top: 10px;
}

.middle-container {

    margin: 100px 0;
}


.bottom-container {
    background-color: #c5ded7;
    padding: 30px 0 20px;
}

.top-cloud {
    width: 16%;
    position: relative;
    left: 350px;
    top: 3px;
}

.bottom-cloud {
    width: 16%;
    position: absolute;
    left: 250px;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #165c4f;
    font-size: 20px;
    background: #45b29a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
